.inicio{
    background-color: blueviolet;
    display: flex;
    position: relative;
    height: 30px;
    font-size: 05px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

